@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --font: 'Raleway', sans-serif;
    --font2: 'Roboto Slab', serif;
    --cor1: rgb(8, 70, 202);
    --cor2: rgb(7, 51, 145);
    --cor3: rgb(8, 38, 104);
    --bgcolor: rgb(48, 48, 48);
    --bgcolor2: rgb(36, 36, 36);
    --branco: rgb(240, 240, 240);
    --transtime: .3s;
}

* {
    margin: 0px;
}

body {
    background-color: var(--bgcolor2);
}

h1, h2, p, a {
    font-family: var(--font);
    color: var(--branco);
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
}

ul#navigation {
    padding: 25px;
    font-size: 1.5em;
    text-align: center;
}

li.nav-item {
    margin: 15px;
    display: inline-block;
    transition: transform var(--transtime);
}

li.nav-item:hover {
    transform: scale(1.3);
}

div#home {
    background-color: var(--bgcolor);
    height: 95vh;
}

div#apresentacao {
    margin: 30px;
}

a.btn {
    padding: 10px;
    border-radius: 15px;
    border: 2px solid var(--cor1);
    background-color: var(--cor1);
}

a.btn:hover {
    transition: var(--transtime);
    background-color: var(--cor2);
}

#img-vitor {
    margin-top: -120px;
    float: right;
    background-image: linear-gradient(var(--cor1), var(--cor2), var(--cor3));
    border-radius: 25px;
}

div#apresentacao > p {
    margin-top: 25px;
    margin-bottom: 25px;
}

div#sobre {
    background-color: var(--bgcolor2);
    height: 90vh;
    box-shadow: 2px 2px 5px black;
}

.container {
    min-width: 350px;
    max-width: 1000px;
    margin: auto;
}

#sobre-text {
    font-family: var(--font2);
    font-weight: 300;
    line-height: 1.5em;
    padding-top: 20px;
}

#sobre-h1 {
    padding-top: 20px;
}

#certificacoes {
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    height: 90vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 5px black;
}

.gray-filter {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.801);
}

.competencia {
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    margin: 20px;
    min-width: 200px;
    max-width: 300px;
    min-height: 200px;
    max-height: 300px;
    backdrop-filter: blur(10px) saturate(120%);
    -webkit-backdrop-filter: blur(10px) saturate(120%);
    background-color: rgba(34, 36, 41, 0.42);
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    transition: transform var(--transtime);
}

.competencia:hover {
    transform: scale(1.1);
}

.border-red {
    border: 1px solid rgb(255, 0, 0);
    box-shadow: 2px 2px 6px rgba(255, 0, 0, 0.61);
}

.border-blue {
    border: 1px solid rgb(0, 0, 255);
    box-shadow: 2px 2px 6px rgba(0, 0, 255, 0.61);
}

.border-yellow {
    border: 1px solid rgb(255, 230, 0);
    box-shadow: 2px 2px 6px rgba(255, 230, 0, 0.61);
}

.border-green {
    border: 1px solid rgb(1, 228, 1);
    box-shadow: 2px 2px 6px rgba(1, 228, 1, 0.61);
}

.border-orange {
    border: 1px solid rgb(245, 131, 0);
    box-shadow: 2px 2px 6px rgba(245, 131, 0, 0.61);
}

div.competencia > h1{
    padding-bottom: 10px;
}

footer {
    padding: 10px;
    color: var(--branco);
    text-align: center;
    font-family: var(--font);
}

div.redes-links {
    margin-bottom: 20px;
    text-align: center;
}

div#contato {
    padding: 20px;
    text-align: center;
}